<div class="container mt-5">
    <div class="row justify-content-md-center">
        <div class="col-md-6 col-lg-4">
            <div class="alert alert-danger" *ngIf="err==1"> 
                <strong>{{message}}</strong>
            </div>
            <div class="card">
                <h2 class="fw-bold">Login</h2>
                <form>
                    <div class="mb-3">
                        <label for="username" class="form-label">Nom Utilisateur :</label>
                        <input type="text" id="username" name="username" class="form-control"
                            [(ngModel)]="user.username">
                    </div>
                    <div class="mb-4">
                        <label for="password" class="form-label">Mot de passe :</label>
                        <input type="password" id="password" name="password" [(ngModel)]="user.password"
                            class="form-control">
                    </div>
                    <div class="row justify-content-md-center mb-1">
                        <button type="button" (click)="onLoggedin()" class="btn btn-primary">Connexion</button>
                    </div>
                </form>
                <div class="mt-3 text-center text-muted">
                    <p>Vous n'avez pas un compte? <a routerLink="/register">S'inscrire</a></p>
                </div>
            </div>
        </div>
    </div>
</div>